body {
    background-color: steelblue;
    background-image: url("images/Rock.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 20px;
    align-items: center;

}

.Header {
    font-size: 350%;
    color: palegoldenrod;
    -webkit-text-stroke: 2px black;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black, ;
    text-align: center;
    margin-bottom: 40px;
}

#result {
    border: 8px;
    border-color: #000000;
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
    color: goldenrod;
    -webkit-text-stroke: 2px black;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black, ;
    font-size: 320%;
    font-family: sans-serif;
    width: 70%;
    background-image: url(images/TextBox.jpg);
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}

.buttons {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-bottom: 300px;
}

.clickers {
    font-size: 200%;
    cursor: pointer;
    background-image: url(images/TextBox.jpg);
    background-size: contain;
    color: aliceblue;
    border-color: black;
    border-width: 3px;
    border-radius: 3px;
    box-shadow: #000000;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px #000000;


}

.clickers:hover {
    background-image: url(images/Red.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    border-color: darkred;
    transition: all 0.5s ease;
}