body {
    background-color: steelblue;
    background-image: url("images/Rock.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 20px;
    align-items: center;

}

.Header {
    font-size: 350%;
    color: palegoldenrod;
    -webkit-text-stroke: 2px black;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black, ;
    text-align: center;
    margin-bottom: 40px;
}

#result {
    border: 8px;
    border-color: #000000;
    border-radius: 4px;
    border-width: 4px;
    border-style: solid;
    color: goldenrod;
    -webkit-text-stroke: 2px black;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black, ;
    font-size: 250%;
    font-family: sans-serif;
    width: 70%;
    background-image: url(images/TextBox.jpg);
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    text-align: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}

.buttons {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-bottom: 300px;
}

.clickers {
    font-size: 200%;
    cursor: pointer;
    width: fit-content;
    background-image: url(images/TextBox.jpg);
    background-size: contain;
    color: aliceblue;
    border-color: black;
    border-width: 3px;
    border-radius: 3px;
    box-shadow: #000000;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px #000000;


}

.clickers:hover {
    background-image: url(images/Red.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    border-color: darkred;
    transition: all 0.5s ease;
}

.results {
    margin: auto;
    width: 60px;
    font-size: 100%;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(000, 0.1);
    width: 250px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
